@use 'sass:math';
@import "base.scss";
/* panel */

.nd-panel {
	// border-width: 1px;
    // border-style: solid;
    // border-radius: 2px;
    // background-color: #fff;
    // color: #666;
	border-radius: $nd-radius;
	border: 1px solid $nd-color6;
	@extend .nd-border;
	// @include nd-color(1);
	@include nd-color-set('white',$nd-color-black);
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	> * {
		width: 100%;
		box-sizing: border-box;
	}
	/* 头部 */
	.nd-panel-header {
		height: $nd-head-height;
		line-height: $nd-head-height;
		padding: 0 $nd-padding * 2;
		border-radius: $nd-radius $nd-radius 0 0;
		display: inline-flex;
		justify-content: space-between;
		/* 标题 */
		.nd-panel-title {
			font-size: $nd-fontnormal;
			font-weight: $nd-fontweight-bold;
		}

		/*头部工具栏*/
		.nd-panel-header-bar {
			font-size: $nd-fontlarge;
			margin-right: -$nd-padding;
			float: right;
			> * {
				margin-right: math.div($nd-padding, 2);
			}

			.nd-panel-min {
				@include nd-clickicon("minus1");
			}
			.nd-panel-max {
				@include nd-clickicon("add1");
			}
			.nd-panel-close {
				@include nd-clickicon("cross");
			}
		}
	}

	.nd-panel-body {
		padding: $nd-padding;
		font-size: $nd-fontnormal;
		flex: 1;
		overflow: auto;
		// @include nd-color(1);
		@include nd-color-set('white',$nd-color-black);
	}
}
