/* Error: semicolons aren't allowed in the indented syntax.
 *   ,
 * 1 | @import "../sass/base";
 *   |                       ^
 *   '
 *   examples\css\nodomui.sass 1:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: semicolons aren't allowed in the indented syntax.\a   \2577 \a 1 \2502  @import \"../sass/base\";\d\a   \2502                        ^\a   \2575 \a   examples\\css\\nodomui.sass 1:23  root stylesheet";
}
